.sidebar {
    flex: 1;
    min-height: 100vh;
    padding: 30px 15px;
    background-color: #f8f8fa;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    cursor: pointer;
}

ul :hover {
    background: #e2f0ed;
    border-radius: 6px;
}

.logout {
    margin-top: 280px;
    cursor: pointer;
}

.logout :hover {
    background: #e2f0ed;
}

.logout > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon,
.iconlogout {
    color: var(--second-color);
    font-size: 25px;
}

.iconlogout {
    margin-left: 30px;
}

span {
    font-size: 15px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
}

a.active > li {
    background: #e2f0ed;
    margin-left: 0px;
    position: relative;
}

a.active > li .icon,
a.active > li span {
    color: var(--primary-color);
}

@media screen and (max-width: 1100px) {
    span,
    .hide {
        display: none;
    }

    li {
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .logoutWrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .iconlogout {
        margin-left: 0;
    }
}
